.navbar1{
    background-color: #FFAFCC;
    margin-top: -8px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.imgalign{
    max-width: 70px;
    max-height: 70px;
}


.img1 img{
    width: 85%;
    height: 400PX;
    border-radius: 30px;
}

.imgcard{
    width: 130px;
    height: 140px;
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
    border-color: #FFBB9E;
}

.eve{
    background-color: #CFBAF0;
    border-radius: 20px;
    margin-top: 20px;
}

.eve1{
    background-color: #CFBAF0;
    border-radius: 20px;
    margin-top: 20px;
    padding-bottom: 3px;
}


.aligntext{
    margin-top: 15px;
    background-color: #FFBB9E;
    margin-bottom: 15px;
    border-radius: 30px;
}


.aligntour{
    margin-top: 10px;
    text-align: center;
}

.row1{
    border-width: 3px;
    border-style: solid;
    border-color: #FFBB9E;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer{
    background-color: black;
    padding-top: 10px;
}

.colorletra{
    color: white;
}

.boletos{
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: #FFBB9E;
    margin-bottom: 30px;
}

.formulario{
    background-color: #FFBB9E;
    border-radius: 10px;
}

.formulario ::placeholder{
    color: #a1a0a7cb;
}

.inputalign{
    max-width: 400px;
    max-height: 25px;
}

.botonf{
    height: 50px;
    border-radius: 15px 15px;
    background-image: linear-gradient(270deg, #a07fff 0, #b379fa 12.5%, #c472f0 25%, #d26ce6 37.5%, #df65db 50%, #ea5fcf 62.5%, #f359c3 75%, #fa54b6 87.5%, #ff50a9 100%);
    border-color: #FFAFCC;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-bottom: 20px;
}
.boton{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.alignmet{
    padding-top: 6px;
}
